spring:
  application:
    name: TodoListAPI
  datasource:
    url: jdbc:mysql://localhost:3306/todo_db
    username: ${DB_USERNAME:<your_db_name>}
    password: ${DB_PASSWORD:<your_db_password}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

app:
  jwt:
    secret: ${JWT_SECRET:<your_secret>}
    expiration-ms: 900000
    refresh-expiration: 7 #days
